body {
    font-family: sans-serif;
    background:linear gradient(from bottom to top ,lightgrey ,black) ;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
div{
   background:yellow;
transition:width 10s;
}
div:hover{
    
     width:20px;
    /*height:30px;*/
}
